.filter-bar-wrapper
  +outer-container(65%)
  padding-left: 10px

.filter-bar
  +span-columns(9)
  height: 70px

.filter-section	
  +span-columns(12)
  padding-top: 20px
  height: auto

  li
    +span-columns(3)
    font-size: 0.9em
    text-align: center


