.filter-bar
  +span-columns(12)
  height: 70px

.filter-section	
  +span-columns(12)
  padding-top: 10px
  height: auto

  li
    +span-columns(3)
    text-align: center
    font-size: 0.9em

  span:hover
    padding: 5px 20px
    //background-color: #db4860
    border-radius: 25px
    //transform: scale(1.1)
    //transition: all 200ms ease-in-out

