.search-wrapper
	+span-columns(10 of 12)
	+shift(1)
	border-bottom: 1px solid grey
	padding: 10px
	
	h1
		font-size: 2.5em

	h2
		+span-columns(3)

	input
	   	+span-columns(3)


	.search-button
		+span-columns(3)
		background-color: #a6f8b0
		height: 36px
		font-size: 0.9em

	.select
		+span-columns(3)