  
.search-code-container
  +span-columns(12)
  height: 100%
  padding-top: 20px

  .header-wrapper
    +span-columns(12)
    border-bottom: 1px solid #db4860
    margin-bottom: 10px
  
  .header
    +outer-container

  .logo
    +span-columns(4)
    margin-top: 8px
    margin-bottom: 20px

.search-result-wrapper
  +outer-container

.search-options
  +span-columns(3)
  +omega()
  
  h1
    font-size: 2.5em

  input
    +span-columns(9)
    +omega()
    height: 30px


.search-button
  +span-columns(2)
  +omega()
  background-color: #db4860
  height: 30px
  font-size: 0.8em

.select
  +span-columns(3)

