.search-wrapper
	+span-columns(12 of 12)
	padding: 10px
	background-color: #f4f4f4
	
	h1
		font-size: 2.5em

	h2
		+span-columns(3)

	input
	   	+span-columns(3)


	.search-button
		+span-columns(3)
		background-color: #0295d9
		height: 36px
		font-size: 0.9em

	.select
		+span-columns(3)